@use "colors" as *;

html {
	font-size: 62.5%;
	// scroll-padding-top: 100px;
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	// font-family: "Quicksand", sans-serif;
	font-size: 1.6rem;
	background-color: #f0f0f0;
}

//navbar
.navbar {
	position: fixed;
	width: 100%;
	background-color: $medium-black;

	.wrapper {
		display: flex;
		justify-content: space-between;

		.logo {
			display: flex;
			align-items: center;
			text-decoration: none;
			padding: 1em;

			&__icon {
				width: 50px;
				height: 50px;
			}

			&__name {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-left: 0.3em;
				height: 100%;

				&-upper,
				&-lower {
					font-family: "Quicksand", sans-serif;
					color: $pure-white;
				}

				&-upper {
					font-size: 1.75rem;
					font-weight: 600;
					letter-spacing: 2px;
					text-transform: uppercase;
				}

				&-lower {
					font-weight: 300;
				}
			}
		}

		.desktop-nav {
			display: none;

			&__item {
				position: relative;
				display: inline-block;
				padding: 1em 1.25em;
				font-size: 1.8rem;
				color: $pure-white;
				text-decoration: none;
				transition: transform 0.3s;
			}

			&__item:hover {
				transform: scale(0.95);
			}

			&__item::before,
			&__item::after {
				content: "";
				position: absolute;
				bottom: 0.5em;
				width: 0;
				border-bottom: 2px solid $main-orange;
			}

			&__item::before {
				right: 50%;
			}

			&__item::after {
				left: 50%;
			}

			&__item:hover::before,
			&__item:hover::after {
				width: 38%;
			}

			&__item,
			&__item::after,
			&__item::before {
				transition: 0.3s;
			}
		}
	}
}

//mobile navigation
.mobile-nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	bottom: 0;
	right: 0;
	padding: 1em;
	height: calc(100vh - 82px);
	width: 100%;
	background-color: $medium-black;
	text-align: center;
	transform: translateX(500px);
	transition: transform 0.4s;
	z-index: 100;

	&__item {
		position: relative;
		display: block;
		padding: 1.2em 0;
		font-family: "Quicksand", sans-serif;
		font-size: 1.3em;
		color: $pure-white;
		text-decoration: none;

		&:hover {
			color: $main-orange;
		}
	}
}

.show-mobile {
	transform: translateX(0);
}
