@use "colors" as *;
@use "mixins" as *;

html {
	font-size: 62.5%;
	scroll-padding-top: 50px;
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 1.6rem;
	background-color: $body-bg;
	overflow-x: hidden;
}

.disable-scroll {
	overflow-y: hidden;
}

//navbar
.navbar {
	position: fixed;
	width: 100%;
	background-color: $medium-black;
	z-index: 999;

	.wrapper {
		display: flex;
		justify-content: space-between;

		.logo {
			display: flex;
			align-items: center;
			padding: 1em;
			text-decoration: none;

			&__icon {
				width: 50px;
				height: 50px;
				transition: transform 0.3s;
			}

			&__name {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-left: 0.3em;
				height: 100%;

				&-upper,
				&-lower {
					font-family: "Quicksand", sans-serif;
					color: $pure-white;
					transition: color 0.4s;
				}

				&-upper {
					font-size: 1.75rem;
					font-weight: 600;
					letter-spacing: 2px;
					text-transform: uppercase;
				}

				&-lower {
					font-weight: 300;
				}
			}
		}

		.logo:hover .logo__icon {
			transform: scale(0.9);
		}

		.logo:hover .logo__name-upper {
			color: $grey;
		}

		.logo:hover .logo__name-lower {
			color: $grey;
		}

		.desktop-nav {
			display: none;

			&__item {
				position: relative;
				display: inline-block;
				padding: 1em 1.25em;
				font-family: "Quicksand", sans-serif;
				font-size: 1.8rem;
				color: $pure-white;
				text-decoration: none;
				transition: transform 0.3s;
			}

			&__item:hover {
				transform: scale(0.96);
			}

			&__item::before,
			&__item::after {
				content: "";
				position: absolute;
				bottom: 0.5em;
				width: 0;
				border-bottom: 2px solid $main-orange;
			}

			&__item::before {
				right: 50%;
			}

			&__item::after {
				left: 50%;
			}

			&__item:hover::before,
			&__item:hover::after {
				width: 38%;
			}

			&__item,
			&__item::after,
			&__item::before {
				transition: 0.3s;
			}
		}
	}
}

//mobile navigation
.mobile-nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	bottom: 0;
	right: 0;
	min-height: calc(100vh - 82px);
	min-height: calc(100dvh - 82px);
	width: 100%;
	text-align: center;
	background-color: #2d3137;
	transform: translateX(750px);
	transition: transform 0.4s;
	z-index: 999;

	&__item {
		position: relative;
		display: block;
		padding: 1.2em 0;
		font-family: "Quicksand", sans-serif;
		font-size: 1.3em;
		color: $pure-white;
		text-decoration: none;
		background-color: $medium-black;
		transition: color 0.4s;

		&:hover {
			color: $main-orange;
		}
	}
}

.show-mobile {
	transform: translateX(0);
}

//header

.header {
	position: relative;
	display: flex;
	justify-content: center;
	background-image: url("../img/header-mobile.jpg");
	min-height: 100vh;
	min-height: 100svh;
	background-size: cover;
	background-position: 60% 50%;

	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 4em;
		width: 75%;
		z-index: 5;

		.header-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.main-heading,
			.main-description {
				text-align: center;
				user-select: none;
			}

			.main-heading {
				font-size: 2.8rem;
				font-weight: 400;
				color: $pure-white;
			}

			.main-description {
				font-size: 1.6rem;
				font-weight: 200;
				color: rgb(235, 235, 235);
				line-height: 1.7em;
			}

			.underline {
				display: block;
				margin: 1em 0;
				width: 50%;
				height: 2px;
				background-color: $main-orange;
			}

			.aditional-text {
				display: none;
			}
		}

		.cta-button {
			display: block;
			margin-top: 6em;
			padding: 0.6em 1.2em;
			width: 10em;
			font-size: 1.8rem;
			font-weight: bold;
			background-color: $main-orange;
			border-radius: 20px;
			border: none;
			transition: color 0.3s, background-color 0.3s;
			cursor: pointer;
			z-index: 5;
		}
	}

	.cta-button:hover {
		color: $main-orange;
		background-color: black;
	}

	&__shadow {
		@include shadow;
		background-color: rgba(0, 0, 0, 0.65);
	}
}

//main

main {
	.section-title {
		position: relative;
		margin-left: 0.5em;
		font-size: 2.8rem;
		font-weight: 500;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: -15px;
			height: 100%;
			width: 3px;
			background-color: $main-orange;
		}
	}

	.subsection-title {
		font-family: "Quicksand", sans-serif;
		font-weight: 400;
		font-size: 2.2rem;
		text-align: center;
	}

	.section {
		padding: 3em 1.5em;
	}

	.aboutus {
		overflow: hidden;

		.wrapper {
			overflow-x: hidden;

			.aboutus-box {
				.aboutus-images {
					display: flex;
					justify-content: center;
					margin-top: 3em;

					&__image--first {
						display: none;
					}

					&__image--second {
						width: 80%;
						max-width: 300px;
						border-radius: 8px;
						box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
							rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
					}
				}

				.aboutus-description {
					margin-top: 3em;
					padding: 0 2em;

					p {
						margin-top: 1em;
						text-align: center;
						line-height: 1.5em;
					}
				}
			}
		}
	}

	.advantages {
		margin-top: 1.5em;
		background-image: url("../img/gradient-bg.jpg");
		background-size: cover;

		.wrapper {
			.advantages-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.advantage-box {
					display: flex;
					flex-direction: column;
					align-items: center;
					padding: 1.5em;
					flex: 1;
					max-width: 300px;

					&__advantage {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						width: 100px;
						height: 100px;
						padding: 1.25em;
						background-color: $light-orange;
						border-radius: 50%;

						&-text {
							margin-top: 0.5em;
							font-weight: 200;
							font-size: 1.8rem;
							text-align: center;
							color: $pure-white;
						}
					}
				}
			}
		}
	}

	.offers {
		.wrapper {
			@include wrapper;

			.offers-box {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-top: 4em;

				&__card {
					display: flex;
					justify-content: center;
					align-items: flex-end;
					margin: 2em 0.5em;
					width: 220px;
					height: 320px;
					background-size: cover;
					background-position: center;
					border-radius: 12px;

					&--first {
						background-image: url("../img/offers-kitchen.jpg");
					}

					&--second {
						background-image: url("../img/offers-bathroom.jpg");
					}

					&--third {
						background-image: url("../img/painting.jpg");
					}

					&--fourth {
						background-image: url("../img/hydraulic.jpg");
					}

					&--fifth {
						background-image: url("../img/electrician.jpg");
					}

					&--sixth {
						background-image: url("../img/handyman.jpg");
					}

					&-menu {
						position: relative;
						display: flex;
						align-items: center;
						justify-content: space-around;
						width: 100%;
						height: 20%;
						background-color: rgba(0, 0, 0, 0.75);
						border-radius: 0 0 12px 12px;

						&::after {
							content: "";
							position: absolute;
							top: 0;
							width: 100%;
							height: 2px;
							background-color: $main-orange;
						}

						&-title {
							color: $pure-white;
							font-size: 2.3rem;
							font-weight: 200;
						}

						&-arrow {
							width: 40px;
							height: 40px;
							cursor: pointer;
						}
					}
				}
			}
		}
	}

	.questions {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		background-image: url("../img/poziomica.jpg");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

		.wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			z-index: 5;

			.questions-text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				color: $pure-white;

				&__heading {
					font-size: 2.6rem;
				}

				&-subheading {
					margin-top: 0.5em;
					padding: 0 1.5em;
					font-size: 1.8rem;
					font-weight: 300;
				}
			}

			.question-call {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-top: 3em;
				padding: 2em 0;
				width: 80%;
				color: $pure-white;
				background-color: $main-orange;
				border-radius: 12px;
				opacity: 0.85;

				svg {
					width: 60px;
					height: 60px;
				}

				&__text,
				&__number {
					margin-top: 0.5em;
				}

				&__text {
					font-size: 2rem;
					font-weight: 300;
				}

				&__number {
					font-size: 2.3rem;
					font-weight: bold;
				}
			}
		}

		&__shadow {
			@include shadow;
			background-color: rgba(0, 0, 0, 0.65);
			z-index: 1;
		}
	}

	.price-list {
		position: relative;

		.section-title {
			margin-bottom: 2em;
		}

		.wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;

			.underline {
				margin: 4em auto;
				width: 40%;
				height: 2px;
				background-color: $main-orange;
			}

			.price-box {
				position: relative;
				margin-top: 2em;

				&-info {
					position: absolute;
					bottom: -1.75em;
					right: 0;
					font-size: 1.2rem;
					color: rgb(42, 42, 42);
					text-decoration: underline;
				}

				&__service {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 1.75em;
					padding: 0 0.25em;

					&-name {
						margin-right: 0.5em;
					}

					&-price {
						margin-left: 1em;
						text-align: right;
					}
				}
			}
		}

		.bricks-decoration {
			display: none;
		}
	}

	.contact {
		background-image: url("../img/gradient-bg.jpg");
		background-size: cover;

		.wrapper {
			overflow-x: hidden;

			.section-title {
				color: $pure-white;
			}

			.contact-box {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-top: 4em;

				&__element {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-bottom: 4em;

					&-icon {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 110px;
						height: 110px;
						background-color: $grey;
						border-radius: 50%;
						border: 7px solid $pure-white;

						&-img {
							width: 60px;
							height: 60px;
						}

						.pin {
							width: 70px;
							height: 70px;
						}
					}

					&-title,
					&-description {
						color: $pure-white;
						text-align: center;
					}

					&-title {
						margin-top: 0.75em;
						font-size: 2.2rem;
						font-weight: 400;
					}

					&-description {
						margin-top: 0.25em;
						font-size: 1.8rem;
						font-weight: 300;
					}
				}
			}

			.socials-box {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				&__element {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 1.75em;
					padding: 0.25em 0.5em;
					background-color: $grey;
					border-radius: 30px;
					border: none;
					transition: background-color 0.3s;
					cursor: pointer;

					&-icon {
						width: 48px;
						height: 48px;
						transition: transform 0.5s;

						&--whatsapp {
							padding-left: 0.4em;
						}
					}

					&-name {
						font-family: "Montserrat", sans-serif;
						margin: 0.4em;
						font-size: 1.8rem;
					}
				}

				&__element:hover {
					background-color: $main-orange;
				}

				&__element:hover .socials-box__element-icon {
					transform: rotate(360deg);
				}
			}
		}
	}

	.google-map {
		margin: 0 auto;
		width: min(100%, 2500px);
	}
}

//footer

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $yellow;

	&__desktop,
	&__mobile {
		@include wrapper;
	}

	&__desktop {
		display: none;
	}

	&__mobile {
		text-align: center;

		&-company {
			padding: 1em;
			font-size: 1.8rem;
			font-weight: 400;
			line-height: 1.5em;
			color: rgb(38, 38, 38);
		}

		&-author {
			padding: 0.75em 1em;
			background-color: rgb(29, 29, 29);
			color: $yellow;
		}
	}
}
