@use "colors" as *;

@media (min-width: 768px) {
	.navbar {
		.wrapper {
			.logo {
				padding: 1.25em;

				&__icon {
					width: 55px;
					height: 55px;
				}

				&__name {
					&-upper {
						font-size: 2rem;
					}

					&-lower {
						font-size: 1.75rem;
					}
				}
			}
		}
	}

	.mobile-nav {
		height: calc(100vh - 95px);
		transform: translateX(1000px);

		&__item {
			padding: 1.5em 0;
			font-size: 2.5rem;
		}
	}

	.show-mobile {
		transform: translate(0);
	}

	.header {
		.wrapper {
			min-height: calc(100dvh - 95px);
			min-height: calc(100vh - 95px);

			.header-box {
				.main-heading {
					font-size: 3.8rem;
				}

				.main-description {
					font-size: 2.2rem;
					line-height: 1.9em;
				}

				.underline {
					margin: 1.5em 0;
				}
			}

			.cta-button {
				padding: 0.8em 1.6em;
				font-size: 2.2rem;
				border-radius: 25px;
			}
		}
	}
}

@media (min-width: 992px) {
	.navbar {
		.wrapper {
			align-items: center;
			margin: 0 auto;
			width: min(100%, 1200px);

			.desktop-nav {
				display: inline-block;
			}
		}
	}

	.mobile-nav {
		display: none;
	}

	.header {
		background-image: url("../img/header-desktop.jpg");
		justify-content: flex-end;

		.wrapper {
			align-items: flex-end;
			margin: 0 auto;
			width: min(100%, 1200px);

			.header-box {
				align-items: flex-end;
				padding: 0 1.5em 0 30em;
				height: 50%;

				.main-heading,
				.main-description {
					text-align: right;
				}

				.main-heading {
					font-size: 4.5rem;
				}
			}

			.cta-button {
				border-radius: 30px;
			}
		}
	}
}
