@use "colors" as *;

@media (min-height: 660px) {
	.header {
		.wrapper {
			margin-top: 3em;

			.additional-text {
				display: inline;
			}
		}
	}
}

@media (min-width: 768px) {
	.navbar {
		.wrapper {
			.logo {
				padding: 1.25em;

				&__icon {
					width: 55px;
					height: 55px;
				}

				&__name {
					&-upper {
						font-size: 2rem;
					}

					&-lower {
						font-size: 1.75rem;
					}
				}
			}
		}
	}

	.mobile-nav {
		height: calc(100vh - 95px);
		transform: translateX(1000px);

		&__item {
			padding: 1.5em 0;
			font-size: 2.5rem;
		}
	}

	.show-mobile {
		transform: translate(0);
	}

	.header {
		min-height: calc(100dvh - 95px);
		min-height: calc(100vh - 95px);

		.wrapper {
			margin-top: 6em;
			width: 60%;

			.main-heading {
				font-size: 3.5rem;
			}

			.main-description {
				font-size: 2rem;
				line-height: 2em;
			}

			.underline {
				margin: 1.5em 0;
			}
		}

		.cta-button {
			bottom: 3.25em;
			padding: 0.7em 1.4em;
			font-size: 2.2rem;
			border-radius: 25px;
		}
	}
}

@media (min-width: 992px) {
	.navbar {
		.wrapper {
			align-items: center;
			margin: 0 auto;
			width: min(100%, 1200px);

			.desktop-nav {
				display: inline-block;
			}
		}
	}

	.mobile-nav {
		display: none;
	}
}
